.navbar-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.appbar {
  background-color: rgba(26, 26, 26, 0.8) !important; /* Black and transparent */
  width: 100%;
  box-sizing: border-box;
}
.solid-appbar {
  background-color: #1A1A1A !important; /* Solid black color when logged in */
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px; /* Adjust padding as needed */
  width: 100%;
}


.title {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 16px;
}


.login-button {
border-color: #A9D94A;
}

.login-button:hover {
background-color: #A9D94A;
color: #FFFFFF;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 20px;
}

@media (min-width: 1201px) {
  .nav-links {
    margin-right: 1400px; /* Just a small margin, if desired */
  }
}
/* When the viewport width is 1200px or smaller, remove/reduce the large margin. */
@media (max-width: 2000px) {
  .nav-links {
    margin-right: auto; /* or a smaller pixel value if you prefer */
  }
}
.MuiButton-root:hover {
  background-color: transparent !important;
  color: inherit !important;
}
@media (max-width: 1000px) {
  .title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .toolbar {
    /* Keep the button on the left, but center the title */
    justify-content: flex-start;
    position: relative;
  }
  .menu-button {
    padding: 2px;
    margin-right: 0;
    border-radius: 0;
    width: 60px; 
    height: 60px; 
  }
}

.navbar {
  background-color: #333;
  padding: 10px 20px;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar-item {
  margin: 0 10px;
}

.navbar-item a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.navbar-item a:hover {
  text-decoration: underline;
}